/* NavBar.css */
.navbar {
  background-color: #71a8d5;
  color: #fff;
  padding: 1rem 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-logo {
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;

  .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
  }
}

.nav-menu {
  list-style: none;
  display: flex;
  align-items: center;

  .nav-item {
    padding: 0 1rem;

    .nav-link {
      text-decoration: none !important;
      color: #fff;
      transition: color 0.3s ease;

      &:hover {
        color: #1b1464;
      }

      &.active {
        color: #000;
      }
    }
  }
}

/* Improved Mobile Layout Styles */
@media (max-width: 768px) {
  .menu-icon {
    display: flex;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #fff;
    width: 100%;
    z-index: 1;
    text-align: center;
    color: black;
  }

  .nav-link{
    color: black !important;
  }

  .nav-menu.active {
    display: flex;
  }

  .nav-item {
    padding: 1rem 0;
  }
}
